files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: | 
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/dive-log.jar
            GC_OPTIONS="-XX:+UseG1GC -XX:MaxGCPauseMillis=200 -XX:+DisableExplicitGC -XX:+HeapDumpOnOutOfMemoryError"
            GC_LOG_OPTIONS="-Xloggc:/var/log/gc.log -verbose:gc -XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+PrintGCTimeStamps -XX:+UseGCLogFileRotation -XX:NumberOfGCLogFiles=10 -XX:GCLogFileSize=512K"

            # run app
            killall java
            java -Dfile.encoding=UTF-8 -jar $GC_OPTIONS $GC_LOG_OPTIONS $JAR_PATH